.carta{
    background: rgb(186, 206, 240);
  width: 300px;
  display: inline-block;
  margin: 10px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  font-size: small;
   border-radius:15px;
}

.nombre {
    background-color: rgb(228, 193, 148);
    font-size: 1em;
    position: absolute;
    bottom: 1%;
    left: 1vw;
    width: 10wh;
    border-radius: 3px;

}
.img{
    
position: flex;
box-shadow:  -1px 15px 30px -12px black;
border-radius: 15px;
}
.boton {
border: 0;
border-radius: 8px;
display: flex;
background-color: rgb(241, 234, 234);
}