
.main-container{
    display:flex;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
}
.buscar{
    background-color: rgb(46, 163, 195);
    border-radius: 2px;
    width: 233px;
    height: 22px;
}

button{
    padding:4px;
    background-color: rgba(101, 146, 227, 0.889);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    background-color: rgb(41, 39, 172);
    cursor: pointer;
}



.container-2 {
       width:33%; 
       display:flex;
       justify-content: space-evenly;
}
