.App {
   text-align: center;
   aspect-ratio: 1/1;
   background-image: url(c:\Users\joaqu\Downloads\rickfondodd.jpg);
   
}
* {
   scrollbar-width: thin;
   scrollbar-color: #016975 #072527;
 }
 

 *::-webkit-scrollbar {
   height: 12px;
   width: 12px;
 }
 *::-webkit-scrollbar-track {
   border-radius: 5px;
   background-color: #072527;
 }
 
 *::-webkit-scrollbar-track:hover {
   background-color: #A1EFFF;
 }
 
 *::-webkit-scrollbar-track:active {
   background-color: #32A5C2;
 }
 
 *::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: #016975;
 }
 
 *::-webkit-scrollbar-thumb:hover {
   background-color: #01626D;
 }
 
 *::-webkit-scrollbar-thumb:active {
   background-color: #174FA3;
 }
 